<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular application</title>

    <script src="https://code.angularjs.org/latest/angular.js"></script>
    <script src="https://code.angularjs.org/latest/angular-route.js"></script>

    <script src="myApp.module.js"></script>
    <script src="productList.controller.js"></script>
    <script src="czCurrency.filter.js"></script>
</head>
<body>

    <div ng-init="fruits = ['Apple', 'Orange', 'Peach']; letter = 'o';"></div>
    <input type="text" ng-model="letter" />
    <ul>
        <li ng-repeat="fruit in fruits | filter: letter">
            {{ fruit }}
        </li>
    </ul>

    <ul ng-controller="productList">

        <input type="text" ng-model="product_filter" />

        <select ng-model="order_by">
                <option value="price">Order by price</option>
                <option value="name">Order by name</option>
        </select>

        ASC: <input type="radio" name="order_way" value="asc" ng-model="order_way" checked />
        DESC: <input type="radio" name="order_way" value="desc" ng-model="order_way" />

        <li ng-repeat="product in products | filter: product_filter | orderBy: order_by : order_way=='desc'">
            <h3>{{ product.name }}</h3>
            <div class="price">{{ product.price | currency : '' | czCurrency }}</div>
        </li>

    </ul>

</body>
</html>