span {
    color: red;
    font-weight: bold;
}
h1 {
	color: aqua;
	font-size: 4.5em;
	font-weight: normal;
}
h2 {
	font-variant: small-caps; 
}
a {
	font-weight: bold;
}
body{
	background-color: #E6E6FA;
	font-family: 'Kaushan Script', cursive;
}

p {
	background-color: rgba(0,0,0, 0.5 );
	font-family: ;
	line-height:1.1em;
}

h1,h2, h3{
	font-family: 'Bungee Shade', cursive;;
}

div.biography {
	border:8px solid black;
	display: flex;
	
    flex: 1 100%;
}



span {
	background-color: lightblue;
}

.green {
	background-color: #ADFF2F;
}

.red {
	background-color: #FF00FF;
}

.blue {
	background-color: #40E0D0;
}

p.blue > a {
	color: yellow;
}

p > a{
	color: white;
}

li.seen {
	color:silver;
}
li.unseen {
	color:red;
	text-shadow: 1px 1px;
}

li.good {
	color:green;
	text-shadow:1px 1px;
}

li.bad {
	color: silver;
}

body a{
    text-decoration: none;
}
body a:hover{
    text-decoration: underline;
    color:red;
}

div.red {
   
	background-color: red;
}

 .absolute-element {
	position:absolute;
	color:white;
	background-color: black;
}

ol.circle {list-style-type: circle;}

ul {
    list-style-position: outside;
}

li {
    list-style-image: url('http://classes.codingbootcamp.cz/assets/classes/8/bullet.png
');
}